!!!
%html
  %head
    %title Elunchclub
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
  .navbar.navbar-default
    .container-fluid
      .navbar-header
        = link_to image_tag('shield.gif'), root_path, class: 'navbar-brand'
        .navbar-text
          .h1
            = link_to 'LunchClub', root_path
          Presenting lunch specials for your local area.

        .navbar-text.h2
  = yield
